<main *ngIf="conteudoDetalhado"> 
    
    <h1 #tituloItem tabindex="-1" style="outline: none;">
        {{ conteudoDetalhado.titulo || 'Detalhes do Conteúdo' }}
    </h1>

    <div #conteudoRef class="conteudo-d">
     <app-accessibility 
        [idConteudo]="conteudoDetalhado.id_conteudo_pk"
        [elementoAlvo]="conteudoRef"
         [conteudo]="conteudoDetalhado">
        </app-accessibility>
     </div>

    <div  *ngIf="isPDF()" class="midia-container" role="region" aria-label="Mídia do conteúdo"> 
        <div class="midia-wrapper">
            <iframe [src]="obterUrlPDFViewer()" class="midia-pdf" aria-hidden="true" tabindex="-1"></iframe>
        </div>
        

        </div>
</main>