<!--<img src="https://raw.githubusercontent.com/IF-DeividSilva/ext_program/main/1.png" 
     alt="Fotografia de uma fábrica de bonés, mostrando um jovem trabalhador sorrindo em primeiro plano, manuseando uma pilha de bonés brancos, com outras máquinas e funcionários ao fundo." 
     tabindex="0"
     style="width: 100%; max-width: 800px; height: auto; display: block; margin: 0 auto;">

<button class="btn waves-effect" (click)="toggleAudio()" aria-label="Reproduzir ou pausar áudio">
  <i class="material-icons left">{{ isPlaying ? 'pause_circle_filled' : 'play_circle_filled' }}</i>
  {{ isPlaying ? 'Pausar' : 'Ouvir' }}
</button>

<audio #player src="https://raw.githubusercontent.com/IF-DeividSilva/ext_program/main/audio_descricao_foto1.wav"></audio>

 Carregando -->
<div id="acervo" role="feed" aria-label="acervo" aria-busy="true">

 <div *ngIf="carregando">
   <p>Carregando acervo...</p>
  </div>

  <!-- Erro -->
  <div *ngIf="erro">
    <p>Erro ao carregar os dados.</p>
  </div>

  <!-- Cards dos conteúdos com materializer -->

  <div class="row" role="article" *ngFor="let item of conteudos" aria-label="{{item.titulo}}" >
    <div class="col s12 m6">
      <!-- TODO: Arrumar o PDF (m sei se é pssivel) e arrumar as rotas dos arquivos para suas respectivas paginas (OK)... -->
   
        <div class="card hoverable"> <div class="card-image">
            <img *ngIf="item.arquivo.endsWith('.png') || item.arquivo.endsWith('.jpg') || item.arquivo.endsWith('.jpeg')" 
                [src]="acervoRaw + '/' + item.categoria + '/' + item.arquivo" 
                [alt]="">

            <video *ngIf="item.arquivo.endsWith('.MP4')" 
                [src]="acervoRaw + '/' + item.categoria + '/' + item.arquivo" 
                controls>
            </video>

            <img *ngIf="item.arquivo.endsWith('.pdf')"
                src="assets/pdf.png"
                alt="Documento PDF">

            <span class="card-title">{{ item.titulo }}</span>
            <a [routerLink]="['/detalhes-component/', item.id_conteudo_pk]"
             class="btn-floating halfway-fab waves-effect waves-light cyan lighten-1"
             [attr.aria-label]="'Ver mais sobre ' + item.titulo">
              <i class="material-icons"  aria-hidden="true"> add</i>
            </a>
          </div>
          
          <div class="card-content">
            <p><strong>Autor: {{ item.autor }}</strong></p>
            <p>Categoria: {{ item.categoria }}</p>
            <small>ID: {{ item.id_conteudo_pk }}</small>
            
            
          </div>
          <button class="btn light-green lighten-1 waves-effect waves-light" (click)="chatbot.open()">
  <i class="material-icons left">chat</i> ChatBot
</button>

  <app-chatbot #chatbot [idConteudo]="item.id_conteudo_pk" [titulo]="item.titulo" />

    </div>
  </div>
</div>

<!-- Cards dos conteúdos 
<div *ngFor="let item of conteudos">
  <h2>{{ item.titulo }}</h2>
  <p>{{ item.autor }}</p>
  <p>{{ item.categoria }}</p>
  <p>{{ item.WCAG[0].WCAG_id }}</p>
</div>-->
